.page-content {
    max-width: 962px;
    margin: auto;
    h3 {
        font-size: 24px;
        margin: 0 0 40px;
        text-align: center;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        margin:  0 0 24px;
        line-height: 1.5;
    }
    
}
.slider-block {
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}